*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }
.container{
  width: 100vw;
  height: 100vh;
  
  }
      
.box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
      
.text{
  width: 0;
  height: 0;
  background-color: hotpink;
  transition: 3s;
  margin: auto;
  text-align: center;
  padding: 10px;
  }
  
.hbd{
  opacity: 0;
  transition: 1s ease 2s;
}
      
.topCover{
  width: 100%;
  height: 50%;
  background-color: red;
  position: absolute;
  top:0;
  transition: height 2s ease;
  }
      
.bottomCover{
  width: 100%;
  height: 50%;
  background-color: black;
  position: absolute;
  bottom: 0;
  transition: height 2s ease;
  }
  
  .btn{
    width: 100px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    top: 47%;
    left: 37%;
    border: 5px solid orange;
    border-radius:3px;
    color:black;
    text-align: center;
    padding-top:10px;
    user-select: none;
  }
  
  .btn:active{
    background-color: tomato;
  }