@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Padauk&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Padauk' ,sans-serif;
}

body{
    background-color: black;
}

.box{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display : flex;
    justify-content: space-between;
    align-items: center;

}

.infoContainer{
    width: 50%;
    color: white;
}

.para{
    margin : 20px 0;
}

.cpText{
    background-color: hotpink;
    border-radius: 5px;
    padding: 3px;
    margin-right: 10px;
}

.currentPlace{
    color: hotpink;
}

.mapContainer{
    margin-top: 20px;
    width: 50%;
}

.mapContainer svg path{
    fill: hotpink;
    stroke: black;
    stroke-opacity: 1;
    transition: 0.7s;
}

.mapContainer svg path:hover{
    fill: pink;
}

@media screen and (max-width: 700px) {
    .box{
        width: 100%;
        display: block;
        text-align: center;
    }

    .infoContainer{
        width: 100%;
        padding: 10px;
    }
    
    
    .mapContainer{
        width:100%;
    }
    .cplace{
        font-size: 17px;
    }
}